<!DOCTYPE html>
<html>

<head>
   
    <title>Gallery</title>
	<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/gallery.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <body>
    <h3><a href="../index.html">Home</a>--<a href="second.html">FAQ</a>--<a href="third.html">About Me</a>--<a href="gallery.html">Gallery</a>--<a href="contactme.html">Contact Me</a></h3>
    
        <h1>These are my favorite skins in League of Legends</h1>
    
    
    <img id="fiora" src="../images/fiora.jpg" alt="lady with sword">
    <img id="ekko" src="../images/ekko.jpg" alt="boy with sword">
    <img id="zed" src="../images/zed.jpg" alt="ninja with blades">
    <img id="teemo" src="../images/teemo.png" alt="badger with a blowtube">
    <img id="kata" src="../images/Katarina.png" alt="girl with daggers">
    <img id="vayne" src="../images/vayne.jpg" alt="girl with crossbow">
        <h2>Now i will show the things that i created myself or things that i changed.</h2>
    <img id="eye" src="../images/eye.jpg" alt="an eyeball">
    <img id="house" src="../images/flower house.png" alt="house with a mon and a monster">
    <img id="background" src="../images/background.jpg" alt="grayscaled background for league of legends">
    <img id="logo" src="../images/logo.png" alt="the letters L and R">
    <img id="lady" src="../images/lady.png" alt="lady with red eyes blowing fire">
    <img id="poster" src="../images/poster.png" alt="poster for water awareness.">
  
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </body>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </head>










</html>