<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
	<title>League of legends Top Laners</title>
	<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/second.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style> body {padding: 0; margin: 0;} </style>
    <script src="../p5.min.js"></script>
    <script src="../addons/p5.dom.min.js"></script>
    <script src="../addons/p5.sound.min.js"></script>
    <script src="sketch.js"></script>
</head>
<body>

<h3><a href="../index.html">Home</a>--<a href="second.html">FAQ</a>--<a href="third.html">About Me</a>--<a href="gallery.html">Gallery</a>--<a href="contactme.html">Contact Me</a></h3>
<h2>I DARE YOU TO DRAG YOUR MOUSE!</h2>
    <br>
    <br>
    <br>
    <h1>Im Lloyd and i like playing games and creating games. That is my lifes choice. I play games like League of legends to games like black desert online. I AM THE BEST IN EVERYTHING, IF YOU HAPPEN TO BEAT ME, THEN YOU CHEATED.</h1>
    
    <h4>I also stream on twitch.tv/AllShadeB, usually daily i play a lot more games and talk to alot of very intresting people while i play them. I went into the coding field because you need to learn how to code before you can make any game. I take on this task of coding because it can make me better at what i really want to do.</h4>
    <img id="vayne" src="../images/vayne.jpg" alt="girl with robot suit sliding on one leg" class="center">
</body>
</html>