<!DOCTYPE html>
<html>
<head>
	<title>Frequently Asked Questions</title>
	<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/third.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <style> body {padding: 0; margin: 0;} </style>
    <script src="../p5.min.js"></script>
    <script src="../addons/p5.dom.min.js"></script>
    <script src="../addons/p5.sound.min.js"></script>
    <script id="arrow" src="arrow.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<h3><a href="../index.html">Home</a>--<a href="second.html">FAQ</a>--<a href="third.html">About Me</a>--<a href="gallery.html">Gallery</a>--<a href="contactme.html">Contact Me</a></h3>

<h2>Whats one word that you would use to describe your work?</h2>
 <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
   
    <h1>AMAZING!!</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h4>Where would you want to start off creating games?</h4>
    <h5> I would like to start off with apps then slowly make my way into animating characters.</h5>
    <h6>Would you recommend coding to a friend?</h6>
    <p>Yes, i would recommend it because it is something that could  keep a person busy while creating something creative and fun.</p>
</body>
</html>